<h1 class="centered-content lower-text">青春時代を過ごした<%= @year %>年を思い出そう！</h1>

<div class="content-container">
    <!-- 流行の言葉の部分 -->
    <div class="phrase-section">
        <% if @phrase %>
            <h2 style="text-align: center; color: #00a8e8;">その年の流行ったもの</h2>
            <p class="centered-block with-width song-item"><%= @phrase.content %></p>
        <% end %>
    </div>

    <!-- 流行った曲の部分 -->
    <div class="songs-section">
        <h2 style="text-align: center; color: #00a8e8;">流行った曲</h2>
        <div style="max-width: 600px; margin: 0 auto;">
            <% @songs.each do |song| %>
                <p class="centered-block with-width song-item"><%= song.artist %> - <%= song.title %> (<%= song.year %>年)</p>
            <% end %>
        </div>
    </div>
</div>

<p class="centered-content">
  <%= link_to "ツイートする", "https://twitter.com/intent/tweet?text=#{URI.encode_www_form_component(@tweet_content)}", target: "_blank" %>
</p>
